:root {
  --color-bg: #f9f5f5;
  --color-primary: #f9f5f5;
  --color-red: #e98398;
  --color-brown: #cab2b2;
  --desktop-gutter: 2rem;
  --mobile-gutter: 3rem;
}

@media (max-width: 767px) {
  .container {
    padding: var(--mobile-gutter);
  }
}

@media (min-width: 768px) {
  .container {
    padding-top: var(--desktop-gutter);
  }
}

body {
  background: var(--color-bg);
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  animation: fadein 2s;
}

.header-name {
  font-size: 1.5rem;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-top: 3rem;
  color: var(--color-brown);
}

.subtitle {
  color: #c1c0cc;
}

.content>a {
  display: table;
  text-decoration: none;
  color: var(--color-red);
  padding: 0.7rem;
  margin: 1rem auto;
}

.content>a:hover {
  background-color: var(--color-red);
  color: var(--color-primary);
  border-radius: 20% 40% 30% 30%;
  animation: huehover 1s infinite;
}

/* CIRCLES */

.wigglewiggle {
  max-width: 27rem;
  margin: 0 auto;
}

@keyframes huehover {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
    border-radius: 50%;
  }
  25% {
    -webkit-filter: hue-rotate(90deg);
    -moz-filter: hue-rotate(90deg);
    -ms-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    border-radius: 50% 40% 40% 50%;
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
    border-radius: 40% 50% 40% 40%;
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    border-radius: 50%;
  }
}

@keyframes huerotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
    border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
  }
  to {
    -webkit-filter: hue-rotate(60deg);
    -moz-filter: hue-rotate(60deg);
    -ms-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
    border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
  }
}

@keyframes brif {
  from {
    -webkit-filter: brightness(1);
    -moz-filter: brightness(1);
    -ms-filter: brightness(1);
    filter: brightness(1);
    border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
  }
  to {
    -webkit-filter: brightness(1.8);
    -moz-filter: brightness(1.8);
    -ms-filter: brightness(1.8);
    filter: brightness(1.8);
    border-radius: 50% 20% 30% 40%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media (min-width: 596px) {
  .wigglewiggle>div {
    display: inline-block;
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 595px) {
  .wigglewiggle>div {
    display: inline-block;
    height: 35px;
    width: 35px;
  }
}

.wigglewiggle>div:nth-child(odd) {
  background-color: #b4aedd;
  border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  animation: huerotate 10s ease-in-out alternate infinite;
}

.wigglewiggle>div:nth-child(even) {
  background-color: #e98398;
  border-radius: 50% 20% 30% 40%;
  animation: brif 10s ease-in-out alternate infinite;
}

.wigglewiggle>div:hover {
  opacity: 0.5;
  border-radius: 50%;
  animation: huehover 1s ease-in-out alternate infinite;
}