@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html {
  overflow-y: overlay;
}

:root {
  --color-bg: #fff;
  --color-primary: #000;
  --color-red: #e98398;
  --color-brown: #cab2b2;
}

body {
  font-family: 'Inter', sans-serif;
  border-top: 5px solid #000;
}

main,
header,
footer {
  max-width: 72em;
  margin: 0 auto;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 0;
}

header h1 {
  font-weight: 600;
  font-size: 2rem;
}

header,
nav {
  display: flex;
}


.menu__title {
  flex-grow: 1;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  align-items: center;
}

.menu__title-link {
  text-decoration: none;
  color: #000
}

.menu__item {
  border-left: 1px solid #000;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.menu__item:active {
  box-shadow: inset 2px 2px #000;
}

.menu__item:last-child {
  border-right: 0;
}

.menu__item-link {
  text-decoration: none;
}

main {}

section {
  padding: 3rem;
  border-bottom: 1px solid #000;
}

section:last-child {
  border: 0;
}

section h1 {
  margin-top: 5rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

section {
  display: block;
}

.split-example {
  padding: 0;
  display: flex;
}

.split-example>div {
  padding: 2rem;
  border-right: 1px solid #000;
  flex-grow: 1;
}

.split-example>div:last-child {
  border: 0;
}

.window {
  border: 1px solid #000;
  box-shadow: 3px 3px #000;
}

article {
  border: 1px solid #000;
  box-shadow: 3px 3px #000;
}

article>.title {
  background: linear-gradient(270deg, var(--color-bg), var(--color-primary));
  text-align: center;
  padding: 0.5rem;
}

article>.title::after {
  content: "✕";
  float: right;
}

.window-title {
  background: linear-gradient(270deg, var(--color-bg), var(--color-primary));
  text-align: center;
  padding: 0.5rem;
}

.window-title::after {
  content: "✕";
  float: right;
}

.external {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.external>div {
  flex-basis: 30%;
}

.external>article {
  flex-basis: 30%;
}

article img {
  width: 100%;
  display: block;
}

.window-content img {
  width: 100%;
  display: block;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.terminal {
  padding: 1rem;
  background: var(--color-primary);
  color: #cab2b2;
}

.loading {
  overflow: hidden;
  border-right: 2px solid rgba(255, 255, 255, .75);
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: 4blinkTextCursor 500ms steps(44) infinite normal;
  animation: ellipsis steps(17, end) 4s infinite alternate, blinkTextCursor 500ms steps(44) infinite normal;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 10em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 10em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}


@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}