---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("./*.md");
---

<Layout title="Post">
  <main>
    <ul>

    </ul>
    {allPosts.map((post) => (
      <li><a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
    <article class="outlined">
        <h1>Hello</h1>
        <p>What's up</p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
          consequuntur corporis necessitatibus esse inventore praesentium omnis,
        error saepe labore repellendus sint dolorum sunt molestias magnam at ab
        fugit voluptatibus autem?
      </p>
    </article>
  </main>
</Layout>
