---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("./*.md");
---

<Layout title="Posts">
  <main>
    {
      allPosts.map((post) => (
        <article class="outlined">
          <a href={post.url}>
            <h2>{post.frontmatter.title}</h2>
          </a>
          <p>{post.frontmatter.description}</p>
        </article>
      ))
    }
  </main>
</Layout>
