---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
	<main>
        <section class="outlined">
            <section class="outlined">
                <article class="retro__window">
                    <div class="retro__title-bar">why_you_here.sh</div>
                    <div class="terminal">
                        <pre class="loading">$ PAGE NOT FOUND!</pre>
                    </div>
                </article>
            </section>        </section>
	</main>
</Layout>
