---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ABOUT">
  <main>
    <section class="outlined">
      <h1>I'm Florida</h1>
      <p>I'm a blabaldidididie</p>
    </section>
    <section class="outlined">
      <h2>Work</h2>
      <div class="grid col-3">
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Splice</h3>
            <ul>
              <li>Senior Software Engineer</li>
              <li>Tech Lead Splice Skills</li>
            </ul>
            <img
              src="https://www.exposureguide.com/media/macro-challenge.jpg"
              alt=""
            />
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Casper</h3>
            <p>Software Engineer</p>
            <p>Product, Web Optimization</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Hootsuite</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Socialchorus</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Contractually</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Shopify</h3>
            <p>Software Engineer</p>
            <p>Third Party Apps</p>
          </div>
        </article>
      </div>
    </section>
  </main>
</Layout>
