---
import Layout from "../layouts/Layout.astro";
---

<style>
  h1,
  h2,
  h3 {
    padding-top: 0;
    font-weight: 600;
  }
</style>
<Layout title="About">
  <main>
    <section class="outlined">
      <h1>Florida Elago</h1>
      <p>Senior Software Engineer and Technical Lead crafting exceptional user experiences and leading frontend teams to success.</p>
    </section>
    <section class="outlined">
      <h2>Work Experience</h2>
    </section>
    <section class="outlined with-cells col-2">
      <article>
        <h3>Splice</h3>
        <p>Senior Software Engineer</p>
      </article>
      <article>
        <h3>Casper</h3>
        <p>Senior Software Engineer</p>
      </article>
      <article>
        <h3>Splice</h3>
        <p>Senior Software Engineer</p>
      </article>
      <article>
        <h3>Casper</h3>
        <p>Senior Software Engineer</p>
      </article>
      <article>
        <h3>Splice</h3>
        <p>Senior Software Engineer</p>
      </article>
      <article>
        <h3>Casper</h3>
        <p>Senior Software Engineer</p>
      </article>
    </section>
    <section class="outlined with-cells">
      <article>
        <h3>Hootsuite</h3>
        <p>Software Engineer</p>
      </article>
      <article>
        <h3>SocialChorus</h3>
        <p>Software Engineer</p>
      </article>
    </section>
    <section class="outlined with-cells">
      <article>
        <h3>Contractually</h3>
        <p>Software Engineer</p>
      </article>
      <article>
        <h3>Shopify</h3>
        <p>Software Engineer</p>
      </article>
    </section>
  </main>
</Layout>
