---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ABOUT">
  <main>
    <section class="outlined">
      <h1>Florida Elago</h1>
      <p>Senior Software Engineer</p>
    </section>
    <section class="outlined">
      <p>I'm a blalalalalalalalalallal</p>
    </section>
    <section class="outlined">
      <h2>Work Experience</h2>
      <h3>Splice</h3>
      <p>Senior Software Engineer</p>
      <ul>
        <li>
          Led the development, implementation and launch of the Splice Skills
          platform
        </li>
        <li>
          Implemented reCAPTCHA and real-time email verification to validate
          users and prevent fraudulent activity, resulting in a 20% reduction in
          fraudulent payments
        </li>
        <li>
          Led the migration and consolidation of Splice's customer data
          management and analytics onto the web platform
        </li>
        <li>
          Spearheaded the implementation of Segment analytics by creating
          cross-platform library tooling with accompanying documentation and
          best practices
        </li>
        <li>
          Conducted research and developed initial prototypes for unifying the
          design systems on the web platform, creating a cohesive visual
          language for developers and designers
        </li>
      </ul>
    </section>
    <section class="outlined">
      <div class="grid col-3">
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Splice</h3>
            <ul>
              <li>Senior Software Engineer</li>
              <li>Tech Lead Splice Skills</li>
            </ul>
            <img
              src="https://www.exposureguide.com/media/macro-challenge.jpg"
              alt=""
            />
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Casper</h3>
            <p>Software Engineer</p>
            <p>Product, Web Optimization</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Hootsuite</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Socialchorus</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Contractually</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Shopify</h3>
            <p>Software Engineer</p>
            <p>Third Party Apps</p>
          </div>
        </article>
      </div>
    </section>
  </main>
</Layout>
