---
import Layout from "../layouts/Layout.astro";
---

<style>
  h1,
  h2,
  h3 {
    padding-top: 0;
    font-weight: 600;
  }

  .splice-skills {
    background-color: hsla(228, 100%, 50%, 1);
    background-image: radial-gradient(
        at 83% 97%,
        hsla(214, 74%, 77%, 0.68) 0px,
        transparent 50%
      ),
      radial-gradient(at 79% 14%, hsla(326, 71%, 58%, 0.7) 0px, transparent 50%),
      radial-gradient(at 5% 93%, hsla(266, 71%, 54%, 0.97) 0px, transparent 50%);
  }

  .splice-skills-bw {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: hsla(178, 0%, 0%, 1);
    background-image: radial-gradient(
        at 28% 9%,
        hsla(315, 0%, 28%, 0.26) 0px,
        transparent 50%
      ),
      radial-gradient(at 51% 46%, hsla(214, 0%, 0%, 0.68) 0px, transparent 50%),
      radial-gradient(at 97% 4%, hsla(0, 0%, 100%, 0.43) 0px, transparent 50%),
      radial-gradient(at 5% 90%, hsla(359, 0%, 35%, 0.41) 0px, transparent 50%);
  }

  .splice-skills-bw h3 {
    flex-grow: 1;
    color: white;
    text-align: center;
    margin-bottom: 0;
  }
</style>
<Layout title="About">
  <main>
    <section class="outlined">
      <h1>Florida Elago</h1>
      <p>Senior Software Engineer</p>
    </section>
    <section class="outlined">
      <p>
        I am a Senior Software Engineer with 9+ years of experience, I
        specialize in front-end engineering, API design, system architecture,
        and design systems. I have a strong track record of effectively leading
        development efforts and cultivating more engaged, efficient teams. I am
        a creative and detail-oriented problem-solver who stays up-to-date with
        new programming languages and technologies. My collaborative approach
        fosters respect and transparency, enabling teams to identify pain points
        early and achieve goals.
      </p>
    </section>
    <section class="outlined">
      <h2>Work Experience</h2>
    </section>
    <section class="outlined with-cells">
      <article>
        <h3>Splice</h3>
        <p>Senior Software Engineer</p>
      </article>
      <article>
        <h3>Casper</h3>
        <p>Software Engineer</p>
      </article>
    </section>
    <section class="outlined">
      <article>
        <h3>Hootsuite</h3>
        <p>Software Engineer</p>
        <p>
          While at Hootsuite, I implemented a custom in-product walkthrough to
          improve daily active user count. Additionally, I developed automated
          integration tests for third-party social APIs utilized by Hootsuite
          dashboards, redesigned weekly activity emails to be responsive and
          consistent across major mail clients, and maintained an organized
          style guide for the shared React component library.
        </p>
      </article>
    </section>
    <section class="outlined">
      <article>
        <h3>Social Chorus</h3>
        <p>Software Engineer</p>
        <p>
          At SocialChorus, I designed and implemented user-facing features,
          utilized Test Driven Development, and contributed to the development
          of nailpolish our open-source front-end framework. I also implemented
          a mailing notification system and maintained the browser extension for
          social media post creation.
        </p>
      </article>
    </section>
    <section class="outlined">
      <article>
        <h3>Contractually</h3>
        <p>Junior Software Engineer</p>
        <p>
          At Contractually, I maintained and developed a contract management
          software product using test-driven development. I conducted user
          feedback research with product and customer success teams and
          monitored the web application for issues and outages. Additionally, I
          built a user interface and backend API for email template
          customization and implemented private messaging between users for
          sending contracts on the web platform.
        </p>
      </article>
    </section>
    <section class="outlined">
      <article>
        <h3>Shopify</h3>
        <p>Software Engineer Intern</p>
        <p>
          Collaborated with third-party developers to optimize integration and
          compatibility for "Built by Shopify" apps such as "Digital Downloads,"
          "Facebook," and "Fraud Filter," using Ruby, Rails, and Javascript.
          Obtained customer feedback and enhanced apps. Improved user experience
          in Shopify App Store by implementing an autocomplete search feature
          using Swiftype API and showcasing featured and trending applications.
          Also, restructured and published Shopify Apps Documentation pages.
        </p>
      </article>
    </section>
    <section class="outlined">
      <div class="grid col-2">
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="retro__content">
            <div class="splice-skills-bw"><h3>Splice Skills</h3></div>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Casper</h3>
            <p>Software Engineer</p>
            <p>Product, Web Optimization</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Hootsuite</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Socialchorus</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Contractually</h3>
            <p>Software Engineer</p>
            <p>Product</p>
          </div>
        </article>
        <article class="retro__window">
          <div class="retro__title-bar">Job</div>
          <div class="content">
            <h3>Shopify</h3>
            <p>Software Engineer</p>
            <p>Third Party Apps</p>
          </div>
        </article>
      </div>
    </section>
  </main>
</Layout>
