---
import Layout from "../layouts/Layout.astro";
const doodle = `:doodle {
  @grid: 10 / 80vmin;
}

background: #000;
transition: @rand(500ms) ease;

border-radius: @pick(
  100% 0 0 0,
  0 100% 0 0,
  0 0 100% 0,
  0 0 0 100%
);`;
---

<Layout title="Home">
	<main>
		<!-- <section class="outlined hero">
			<h1>Hi I'm Florida!</h1>
			<p>I'm a ________ living in Brooklyn, NY!</p>
		</section> -->
		<section class="outlined">
			<h1>Pics</h1>
			</section>
			<section class="outlined">
			<!-- Swipable CSS carousel with scroll snap -->
			<div class="carousel">
				<div class="carousel__item retro__window">
					<div class="retro__title-bar">Phoot.png</div>
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
					<footer>
						<small>
							<time datetime="2017-04-29T19:00">Apr 29</time> by <a
							>Flo</a
						  >
						</small>
					</footer>
				</div>
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>	
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>
				<div class="carousel__item retro__window">
					<img src="https://ik.imagekit.io/floridagh/tr:pr-true,h-400/floridaelago-instagram.jpg" alt="">
				</div>
				
			</div>
		</section>
		<section class="outlined">
			<article class="retro__window">
				<div class="retro__title-bar">hello.sh</div>
				<div class="terminal">
					<pre class="loading">$ HELLO WORLD!</pre>
				</div>
			</article>
		</section>
		<section class="outlined">
			<h1>Fleets</h1>
			<article>
				<section class="retro__window">
					<section class="retro__padded-content">
						<p>Maybe i shouldn't have candy for breakfast</p>
					</section>
					<footer>
						<small>
						  <time datetime="2017-04-29T19:00">Apr 29</time> by <a
							>Flo</a
						  >
						</small>
					</footer>	
				</section>
			</article>
			<article>
				<section class="retro__window">
					<section class="retro__padded-content">
						<p>What if...</p>
					</section>
					<footer>
						<small>
						  <time datetime="2017-04-29T19:00">Apr 29</time> by <a
							>Flo</a
						  >
						</small>
					</footer>	
				</section>
			</article>
		</section>
		<section class="outlined">	
			<h1>Writing</h1>
			<article>
				<ul style="list-style: none; padding: 0;">
					<li style="display: flex; justify-content: space-between;">
						<a href="/posts/hello-world">Lorem ipsum dolor sit amet</a> <time datetime="2017-04-29T19:00">Apr 29</time>
					</li>
					<li style="display: flex; justify-content: space-between;">
						<a href="/posts/hello-world">Dolor sit amet, consectetur</a> <time datetime="2017-04-29T19:00">Apr 29</time>
					</li>
					<li style="display: flex; justify-content: space-between;">
						<a href="/posts/hello-world">Donec viverra nec nulla vitae mollis.</a> <time datetime="2017-04-29T19:00">Apr 29</time>
					</li>
				</ul>
			  </article>
		</section>
		
		<section class="outlined art">
			<css-doodle class="doodles" click-to-update>{doodle}</css-doodle>
		</section>
		
	</main>
</Layout>
<style>
	.art {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.doodles {
	}

	.carousel {
		display: flex;
		gap: 10px;
		padding-bottom: 10px;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		scrollbar-width: none;
		-webkit-overflow-scrolling: touch;
	}

	.carousel__item {
		  flex-shrink: 0; /* Prevents images from shrinking */
  
  width: calc(100% / 5); /* Ensures exactly 5 images fit in the container */
		scroll-snap-align: start;
	}
	
	
</style>
