---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Post">
  <main>
    <section class="outlined">
      <h1>These r my projects</h1>
      <h2>Project 1</h2>
    </section>
  </main>
</Layout>
