---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Post">
  <main>
    <section class="outlined">
      <h1>Projects!</h1>
    </section>

    <section class="outlined with-cells">
      <article>
        <h3>NYC Pride Calendar</h3>
        <p>Created a calendar for NYC Pride</p>
      </article>
    </section>
  </main>
</Layout>
